<form class="show">
	<div class="form-group">
		<h2> a situacaoMensagem... </h2>
		
	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= situacaoMensagem.data %>" name="data" type="text" class="form-control" disabled/>
	</div>

</div>
</div>
<a href="/situacaoMensagem/edit/<%=situacaoMensagem.id %>" class="btn btn-default">Edit</a> |
<a href="/situacaoMensagem">Back to list</a>
</form>