<form class="show">
	<div class="form-group">
		<h2> a status... </h2>
		
	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= status.status %>" name="status" type="text" class="form-control" disabled/>
	</div>

</div>
</div>
<a href="/status/edit/<%=status.id %>" class="btn btn-default">Edit</a> |
<a href="/status">Back to list</a>
</form>