<form class="show">
	<div class="form-group">
		<h2> a tipoMensagem... </h2>
		
	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= tipoMensagem.descricao %>" name="descricao" type="text" class="form-control" disabled/>
	</div>

</div>
</div>
<a href="/tipoMensagem/edit/<%=tipoMensagem.id %>" class="btn btn-default">Edit</a> |
<a href="/tipoMensagem">Back to list</a>
</form>