	<form action="/mensagem/update/<%=mensagem.id%>" method="POST" class="edit">
	<div class="form-group">
		<h2> editing a mensagem... </h2>
		<% if(flash && flash.err) { %>
<ul class="alert alert-success">
<% Object.keys(flash.err).forEach(function(error) { %>
<li><%- JSON.stringify(flash.err[error]) %></li>
<% }) %>
</ul>
<% } %>
		
	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= mensagem.mensagem %>" name="mensagem" type="text" class="form-control"/>
	</div>

		</div>
		<input type="submit" value="Update Mensagem" class="btn btn-default"/>
		<a href="/mensagem/show/<%=mensagem.id %>" class="btn btn-danger">Cancel</a>
	</form>
	
	